---
title: Blog
slug: blog
position: 3
published: true
is_layout: false
---
{% extends layouts/inner-page %}
{% block main/inner_content %}
<div class="row">
  <div class="col-md-9">
    <div class="blog-posts clearfix">

      {% editable_model blog_entries %}
      {% paginate contents.blog_entries by 2 %}
      {% for item in paginate.collection %}
      <article class="post post-medium">
        <div class="row">
          <div class="col-md-5">
            <div class="post-image">
              <div class="_owl-carousel owl-theme" data-plugin-options='{"items":1}'>
                <div>
                  <div class="img-thumbnail">
                    <img class="img-responsive" src="{{ item.thumbnail.url | resize: '1280x500#' }}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-7">

            <div class="post-content">

              <h2><a href="{% path_to item %}">{{ item.title }}</a></h2>
              <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="post-meta">
              <span><i class="fa fa-calendar"></i> {{ item.published_at }}<!-- January 10, 2015 --> </span>
              <span><i class="fa fa-user"></i> By <a href="#">{{ item.auctor.name }}</a> </span>
              <span><i class="fa fa-tag"></i> {% for tag in item.tags %}<a href="#">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %} </span>
              <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
              <a href=" {% path_to item %}" class="btn btn-xs btn-primary pull-right">Read more...</a>
            </div>
          </div>
        </div>
      </article>
      {% endfor %}


      <ul class="pagination pagination-lg pull-right">
        {% if paginate.previous.is_link %}<li><a href="{{ paginate.previous.url }}">«</a></li>{% endif %}
        {% for part in paginate.parts %}
        <li class="{% unless part.is_link %}active{% endunless %}"><a href="{{ part.url }}">{{ part.title }}</a></li>
        {% endfor %}
        {% if paginate.next.is_link %}<li><a href="{{ paginate.next.url  }}">»</a></li>{% endif %}
      </ul>

      {% endpaginate %}
      {% endeditable_model %}
    </div>
  </div>

  <div class="col-md-3">
    {% include blog_sidebar %}
  </div>
</div>

{% endblock %}
