---
title: Home page
slug: index_old
position: 0
listed: true
published: true
is_layout: false
---
<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site.title }}</title>

		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="//cdn.ezeratech.com/themes/porto/4_4_0/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="//cdn.ezeratech.com/themes/porto/4_4_0/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/css/theme.css' | stylesheet_tag: 'screen, projector' }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/css/theme-elements.css' | stylesheet_tag: 'screen, projector' }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/css/theme-blog.css' | stylesheet_tag: 'screen, projector' }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/css/theme-shop.css' | stylesheet_tag: 'screen, projector' }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/css/theme-animate.css' | stylesheet_tag: 'screen, projector' }}

		<!-- Current Page CSS -->
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/rs-plugin/css/settings' | stylesheet_tag }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/rs-plugin/css/layers' | stylesheet_tag }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/rs-plugin/css/navigation' | stylesheet_tag }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/circle-flip-slideshow/css/component' | stylesheet_tag }}

		<!-- Skin CSS -->
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/css/skins/skin-corporate-digital-agency.css' | stylesheet_tag: 'screen, projector' }}

		<!-- Theme Custom CSS -->
		{{ 'custom.css' | stylesheet_tag: 'screen, projector' }}

		<!-- Head Libs -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

	</head>
	<body>

		<div class="body">
			<header id="header" class="header-narrow header-semi-transparent" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 1, "stickySetTop": "1"}'>
				<div class="header-body">
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column">
								<div class="header-logo">
									<a href="index.html">
										<img alt="Porto" width="82" height="40" src="//cdn.ezeratech.com/themes/porto/4_4_0/img/logo-default-slim-dark.png">
									</a>
								</div>
							</div>
							<div class="header-column">
								<div class="header-row">
									<div class="header-nav header-nav-stripe">
										<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
											<i class="fa fa-bars"></i>
										</button>
										<ul class="header-social-icons social-icons hidden-xs">
											<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
											<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
											<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
										</ul>
										<div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1 collapse">
											<nav>
												<ul class="nav nav-pills" id="mainNav">
                          {% nav site, no_wrapper:true, bootstrap: true, active_class: 'active' %}
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div role="main" class="main">
				<div class="slider-container rev_slider_wrapper" style="height: 600px;">
					<div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"gridwidth": 800, "gridheight": 600}'>
						<ul>
							<li data-transition="fade">
								<img src="//cdn.ezeratech.com/themes/porto/4_4_0/img/slides/slide-bg-full-5-dark.jpg"
									alt=""
									data-bgposition="center center"
									data-bgfit="cover"
									data-bgrepeat="no-repeat"
									class="rev-slidebg">

								<div class="tp-caption tp-caption-overlay tp-caption-overlay-primary main-label"
									data-x="center"
									data-y="200"
									data-start="1000"
									data-whitespace="nowrap"
									data-transform_in="y:[100%];s:500;"
									data-transform_out="opacity:0;s:500;"
									data-mask_in="x:0px;y:0px;">WEB DESIGN?</div>

								<div class="tp-caption tp-caption-overlay-opacity bottom-label"
									data-x="center"
									data-y="293"
									data-start="1500"
									data-transform_in="x:[-100%];opacity:0;s:500;"><i class="fa fa-check"></i> Boxed/Wide & Dark/Light Options</div>

								<div class="tp-caption tp-caption-overlay-opacity bottom-label"
									data-x="center"
									data-y="343"
									data-start="2000"
									data-transform_in="x:[100%];opacity:0;s:500;"><i class="fa fa-check"></i> Unlimited Header & Footer Styles</div>

								<div class="tp-caption tp-caption-overlay-opacity bottom-label"
									data-x="center"
									data-y="393"
									data-start="2500"
									data-transform_in="x:[-100%];opacity:0;s:500;"><i class="fa fa-check"></i> Unique Homepages Versions</div>

								<div class="tp-caption tp-caption-overlay-opacity bottom-label"
									data-x="center"
									data-y="443"
									data-start="3000"
									data-transform_in="x:[100%];opacity:0;s:500;"><i class="fa fa-check"></i> Unlimited Color Skin Options</div>

							</li>
							<li data-transition="fade">

								<img src="//cdn.ezeratech.com/themes/porto/4_4_0/img/slides/slide-corporate-6.jpg"
									alt=""
									data-bgposition="center center"
									data-bgfit="cover"
									data-bgrepeat="no-repeat"
									class="rev-slidebg">


								<div class="tp-caption tp-caption-overlay tp-caption-overlay-primary main-label"
									data-x="center"
									data-y="265"
									data-start="1000"
									data-whitespace="nowrap"
									data-transform_in="y:[100%];s:500;"
									data-transform_out="opacity:0;s:500;"
									data-mask_in="x:0px;y:0px;">WELCOME TO PORTO</div>

								<div class="tp-caption tp-caption-overlay-opacity bottom-label"
									data-x="center"
									data-y="358"
									data-start="2000"
									data-transform_in="y:[100%];opacity:0;s:500;">The #1 Selling HTML Site Template on ThemeForest</div>

							</li>
						</ul>
					</div>
				</div>
				<div class="container">
					<div class="row mt-xl">
						<div class="col-md-12 center">
							<h2 class="mt-xl mb-none">What <strong>We Do</strong></h2>
							<div class="divider divider-primary divider-small divider-small-center mb-xl">
								<hr>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
                {% for capability in contents.capabilities %}
                  {% capture capability_tabs %}
                    {{ capability_tabs }}
                    <li class="{% if forloop.index == 1 %}active{% endif %}">
                    <a href="#tabsNavigationSimpleIcons{{ forloop.index }}" data-toggle="tab">
                      <span class="featured-boxes featured-boxes-style-6 p-none m-none">
                        <span class="featured-box featured-box-primary featured-box-effect-6 p-none m-none">
                          <span class="box-content p-none m-none">
                            <i class="icon-featured icon-{{ capability.icon | default: 'bulb' }} icons"></i>
                          </span>
                        </span>
                      </span>
                      <p class="mb-none pb-none">{{ capability.name }}</p>
                    </a>
                  </li>
                {% endcapture %}
                {% capture capability_content %}
                  {{ capability_content }}
                  <div class="tab-pane {% if forloop.index == 1 %}active{% endif %}" id="tabsNavigationSimpleIcons{{ forloop.index }}">
                    <div class="center">
                      <p>{{ capability.content }}</p>
                    </div>
                  </div>
                {% endcapture %}
              {% endfor %}
							<div class="tabs tabs-bottom tabs-center tabs-simple mt-xl mb-xl">
								<ul class="nav nav-tabs">
                  {{ capability_tabs }}
								</ul>
								<div class="tab-content">
                  {{ capability_content }}
								</div>
							</div>
						</div>
					</div>

				</div>
				<section class="section section-default section-default-scale-8">
					<div class="container">
						<div class="row">
							<div class="col-md-12 center">
								<h2 class="mb-none text-light">Who <strong>We Are</strong></h2>
								<div class="divider divider-primary divider-small divider-small-center mb-xl">
									<hr>
								</div>
                <p class="mb-none text-light">{% editable_text 'who_we_are' %}INSERT WHO WE ARE TEXT HERE{% endeditable_text %}</p>

								<a class="btn btn-primary btn-lg mt-xl">Learn More</a>
							</div>
						</div>
					</div>
				</section>
				<section class="mt-xl mb-none pb-none">
					<div class="container">
						<div class="row">
							<div class="col-md-12 center">
								<h2 class="mt-xl mb-none">Recent <strong>Projects</strong></h2>
								<div class="divider divider-primary divider-small divider-small-center mb-xl">
									<hr>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="carousel-areas mt-xl mb-none">
                  <div class="owl-carousel owl-theme m-none" data-plugin-options='{"autoHeight": true, "items": {{ portfolio_items.contents.count }}, "margin": 10, "nav": true, "dots": false, "stagePadding": 0}'>
                    {% for item in contents.portfolio_items %}
										<div>
											<a href="portfolio-single-project.html">
                        <img alt="" class="img-responsive" src="{{ item.thumbnail.url }}">
											</a>
										</div>
                    {% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section section-tertiary section-front mt-none">
					<div class="container">
						<div class="row">
							<div class="col-md-12 center">
								<div class="row">
									<div class="col-md-12 center">
										<h2 class="mb-xl mb-none text-dark">Who <strong>Loves Us</strong></h2>
										<div class="divider divider-primary divider-small divider-small-center mb-xl">
											<hr>
										</div>
									</div>
								</div>
								<div class="row">
                  {% for item in contents.testimonials %}
									<div class="col-md-4">
										<div class="testimonial testimonial-style-2 appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
											<blockquote>
                        <p>{{ item.quote }}</p>
											</blockquote>
											<div class="testimonial-arrow-down"></div>
											<div class="testimonial-author">
                        <img src="{{ item.thumbnail.url}}" class="img-responsive img-circle" alt="">
                        <p><strong>{{ item.name }}</strong><span>{{ item.subtitle }}</span></p>
											</div>
										</div>
									</div>
                  {% endfor %}
								</div>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row mt-xl">
            <div class="counters counters-text-dark">
              {% for item in contents.facts %}
							<div class="col-md-3 col-sm-6">
                <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="{{ forloop.index * 300 }}">
                  <i class="fa fa-{{ item.icon }}"></i>
                  <strong data-to="{{ item.number }}" data-append="{{ item.suffix }}">0</strong>
                  <label>{{ item.unit }}</label>
                  <p class="text-color-primary mb-xl">{{ item.subtitle }}</p>
								</div>
							</div>
              {% endfor %}
						</div>

					</div>
				</div>

			</div>

			<footer class="short" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h4>Say Hello</h4>
              <p>{% editable_text 'hello', format: 'raw' %}content to lure the user into contacting us{% endeditable_text %}<a href="#" class="btn-flat btn-xs">View More <i class="fa fa-arrow-right"></i></a></p>
							<hr class="light">
						</div>
						<div class="col-md-3 col-md-offset-1">
							<h5 class="mb-sm">Contact Us</h5>
              <span class="phone">{% editable_text 'phone', format: 'raw' %}555-1212{% endeditable_text %}</span>
							{% comment %}<p class="mb-none">International: (333) 456-6670</p>{% endcomment %}
							{% comment %}<p class="mb-none">Fax: (222) 531-8999</p>{% endcomment %}
							<ul class="list list-icons list-icons-sm">
                <li><i class="fa fa-envelope"></i> <a href="mailto:hello@ezeratech.com">hello@ezeratech.com</a></li>
							</ul>
							<ul class="social-icons">
								<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index.html" class="logo">
									<img alt="Porto Website Template" class="img-responsive" src="//cdn.ezeratech.com/themes/porto/4_4_0/img/logo-footer.png">
								</a>
							</div>
							<div class="col-md-11">
								<p>©EzeraTech Copyright 2015. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Vendor -->
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery/jquery.min' | javascript_tag }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.appear/jquery.appear.min' | javascript_tag }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.easing/jquery.easing.min' | javascript_tag }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery-cookie/jquery-cookie.min' | javascript_tag }}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/common/common.min' | javascript_tag }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.validation/jquery.validation.min' | javascript_tag }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.stellar/jquery.stellar.min' | javascript_tag }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min' | javascript_tag }}
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.gmap/jquery.gmap.min' | javascript_tag }}
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/vendor/vide/vide.min' | javascript_tag }}

		<!-- Theme Base, Components and Settings -->
		{{ '//cdn.ezeratech.com/themes/porto/4_4_0/js/theme' | javascript_tag }}

		<!-- Current Page Vendor and Views -->
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/js/views/view.home.js"></script>

		<!-- Theme Custom -->
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/js/theme.init.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->

	</body>
</html>
