---
title: Portfolio
slug: portfolio
position: 4
published: true
---
{% extends layouts/inner-page %}
{% block main/inner_content %}
<h2>Portfolio</h2>

{% comment %}
<ul class="nav nav-pills sort-source" data-sort-id="portfolio" data-option-key="filter">
  <li data-option-value="*" class="active"><a href="#">Show All</a></li>
  <li data-option-value=".websites"><a href="#">Websites</a></li>
  <li data-option-value=".logos"><a href="#">Logos</a></li>
  <li data-option-value=".brands"><a href="#">Brands</a></li>
</ul>

<hr>
{% endcomment %}

<div class="row">

  <ul class="portfolio-list sort-destination" data-sort-id="portfolio" style="position: relative; height: 1467px;">
    {% for item in contents.portfolio_items %}
    <li class="col-sm-6 col-xs-12 isotope-item websites">
      <div class="portfolio-item">
        <a href="{% path_to item %}">
          <span class="thumb-info">
            <span class="thumb-info-wrapper">
              <img src="{{ item.thumbnail.url | resize: '447x447#' }}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">{{ item.client_name }}</span>
                <span class="thumb-info-type">{{ item.project_type }}</span>
              </span>
              <span class="thumb-info-action">
                <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
