---
title: Corporate 7
is_layout: true
published: false
---
<!DOCTYPE html>
<html>
	<head>


		<!-- Basic -->
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		{% seo %}
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="//cdn.ezeratech.com/themes/porto/4_4_0/img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="//cdn.ezeratech.com/themes/porto/4_4_0/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/css/theme.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/css/theme-elements.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/css/theme-blog.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/css/theme-shop.css">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/css/theme-animate.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/rs-plugin/css/settings.css" media="screen">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/rs-plugin/css/layers.css" media="screen">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/rs-plugin/css/navigation.css" media="screen">
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/circle-flip-slideshow/css/component.css" media="screen">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="//cdn.ezeratech.com/themes/porto/4_4_0/css/skins/skin-corporate-7.css">

		<!-- Theme Custom CSS -->
		{{ 'custom' | stylesheet_tag }}

		<!-- Head Libs -->
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/modernizr/modernizr.min.js"></script>
		
		<script type="text/javascript">var switchTo5x=true;</script>
		<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript" src="https://ss.sharethis.com/loader.js"></script>
	</head>
	<body>

		<div class="body">
			{% block header %}{% include 'header-transparent-sticky' %}{% endblock %}
			<div role="main" class="main">
        {% block main %}{% endblock %}
      </div>
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="footer-ribbon">
							<span>Get in Touch</span>
						</div>
						<div class="col-md-3">
							<div class="newsletter">
								<h4>Newsletter</h4>
								<p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>

								<div class="alert alert-success hidden" id="newsletterSuccess">
									<strong>Success!</strong> You've been added to our email list.
								</div>

								<div class="alert alert-danger hidden" id="newsletterError"></div>

								<form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
									<div class="input-group">
										<input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
										<span class="input-group-btn">
											<button class="btn btn-default" type="submit">Go!</button>
										</span>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-3">
							<h4>Latest Tweets</h4>
							<div id="tweet" class="twitter" data-plugin-tweets data-plugin-options='{"username": "", "count": 2}'>
								<p>Please wait...</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="contact-details">
								<h4>Contact Us</h4>
								<ul class="contact">
									<li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</p></li>
									<li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-789</p></li>
									<li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2">
							<h4>Follow Us</h4>
							<ul class="social-icons">
								<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-1">
								<a href="index.html" class="logo">
									<img alt="Porto Website Template" class="img-responsive" src="//cdn.ezeratech.com/themes/porto/4_4_0/img/logo-footer.png">
								</a>
							</div>
							<div class="col-md-7">
								<p>© Copyright 2015. All Rights Reserved.</p>
							</div>
							<div class="col-md-4">
								<nav id="sub-menu">
									<ul>
										<li><a href="page-faq.html">FAQ's</a></li>
										<li><a href="sitemap.html">Sitemap</a></li>
										<li><a href="contact-us.html">Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Vendor -->
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery/jquery.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery-cookie/jquery-cookie.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/common/common.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.validation/jquery.validation.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.stellar/jquery.stellar.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/vide/vide.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/js/theme.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/js/views/view.home.js"></script>

		<!-- Theme Custom -->
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="//cdn.ezeratech.com/themes/porto/4_4_0/js/theme.init.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->
		 {% block end_of_body %}{% endblock %}
	</body>
</html>
