---
title: Inner Page Layout
is_layout: true
published: false
---
{% extends layouts/corporate-7 %}
{% block header %}
{% include 'header-narrow' %}
{% endblock %}
{% block main %}
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb">
					<li><a href="/">Home</a></li>
          <li class="active">{{ page.title }}</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
        <h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>
</section>
<div class="container">
  {% block inner_content %}Place inner content here{% endblock %}
</div>
{% endblock %}
