---
title: Blog Entries
content_type: blog_entries
---
{% extends layouts/inner-page %}
{% block main/inner_content %}
<div class="row">
  <div class="col-md-9">
    <div class="blog-posts single-post">

      <article class="post post-large blog-single-post">
        <div class="post-image">
          <div class="_owl-carousel owl-theme" data-plugin-options='{"items":1}'>
            <div class="center">
              <div class="img-thumbnail">
                <img class="img-responsive" src="{{ blog_entry.thumbnail.url | resize: '1280x500' }}" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="post-date">
          <span class="day">{{ blog_entry.published_at | date: '%d'}}</span>
          <span class="month">{{ blog_entry.published_at | date: '%b'}}</span>
        </div>
        
        <div class="post-content">

          <h2><a href="blog-post.html">{{ blog_entry.title }}</a></h2>

          <div class="post-meta">
            <span><i class="fa fa-user"></i> By <a href="#">{{ blog_entry.author.name }}</a> </span>
            <span><i class="fa fa-tag"></i> {% for tag in blog_entry.tags %}<a href="#">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %} </span>
            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
          </div>
          
          {{ blog_entry.content }}

          <div class="post-block post-share">
            <h3 class="heading-primary"><i class="fa fa-share"></i>Share this post</h3>

            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>
              <a class="addthis_button_pinterest_pinit"></a>
              <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
            <!-- AddThis Button END -->

          </div>

          <div class="post-block post-author clearfix">
            <h3 class="heading-primary"><i class="fa fa-user"></i>Author</h3>
            <div class="img-thumbnail">
              <a href="#">
                <img src="{{ blog_entry.author.gravatar_url }}" alt="">
              </a>
            </div>
            <p><strong class="name"><a href="#">{{ blog_entry.author.name }}</a></strong></p>
            <p>{{ blog_entry.author.description }} </p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="col-md-3">
   {% include blog_sidebar %}
  </div>
</div>

{% endblock %}
{% block end_of_body %}
<script type="text/javascript">stLight.options({publisher: "1eeba1b2-83b0-4b49-8d9d-854751b060dd", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<script>
  var options={ "publisher": "1eeba1b2-83b0-4b49-8d9d-854751b060dd", "logo": { "visible": true, "url": "", "img": "//sd.sharethis.com/disc/images/demo_logo.png", "height": 45}, "ad": { "visible": false, "openDelay": "5", "closeDelay": "0"}, "livestream": { "domain": "", "type": "sharethis"}, "ticker": { "visible": false, "domain": "", "title": "", "type": "sharethis"}, "facebook": { "visible": false, "profile": "sharethis"}, "fblike": { "visible": false, "url": ""}, "twitter": { "visible": false, "user": "sharethis"}, "twfollow": { "visible": false}, "custom": [{ "visible": false, "title": "Custom 1", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}, { "visible": false, "title": "Custom 2", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}, { "visible": false, "title": "Custom 3", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}], "chicklets": { "items": ["facebook", "twitter", "linkedin", "pinterest", "email", "sharethis"]}};
  var st_bar_widget = new sharethis.widgets.sharebar(options);
</script>
{% endblock %}